language: cpp
compiler:
  - gcc
  - clang
before_script:
  - mkdir ../build
  - cd ../build
script:
  - cmake ../381706-1_Bezruchko
  - make -j
  - ./VectorTest/VectorTest
  - ./MatrixTest/Stack_on_listTest
  - ./QueueTest/QueueTest
  - ./List_on_selectionTest/List_on_selectionTest
  - ./List_on_arrayTest/List_on_arrayTest
  # - ./MultistackTest/MultistackTest
  - ./PolynomTest/PolynomTest
  - ./StackTest/StackTest
  - ./PolishTest/PolishTest
  
notifications:
  email: false